<template>
  <div id="main">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-2 text-right">
          <p><router-link to="/">EU Edge test</router-link></p>
          <p><a href="https://www.linkedin.com/in/schneidergabor">Gabor Schneider</a></p>
          <p><a href="https://drive.google.com/drive/u/0/folders/0BzboSdBLWrCnaXJRdzJGbXRfa0U">assets</a></p>
        </div>
        <div class="col-sm-8">
          <slot/>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#main {
  margin-top: 20px;
}
</style>
