<template>
  <div class="graph-container">
    <pie-chart :data="data"></pie-chart>
  </div>
</template>

<script>
import Color from 'color'
import PieChart from './charts/PieChart'
import { mapGetters } from 'vuex'
import { GETTERS } from '../store/modules/people'

let color = Color('royalblue')
let black = Color('black')

export default {
  components: {
    PieChart
  },
  computed: {
    ...mapGetters('people', {
      ageRange: GETTERS.AGE_RANGE
    }),
    data () {
      let data = {
        datasets: [{
          data: [],
          backgroundColor: [],
          label: 'Age range'
        }],
        labels: []
      }
      Object.entries(this.ageRange).map(([range, value]) => {
        let rangeColor = range > 0 ? color.rotate((Math.min(range, 100) * 3.6)).string() : black.string()
        data.datasets[0].data.push(value)
        data.datasets[0].backgroundColor.push(rangeColor)
        data.labels.push(range > 0 ? `${range - 9} - ${range}` : 'Unknown')
      })
      return data
    }
  }
}
</script>
