<template>
  <div class="person-list">

    <button type="button" class="btn btn-primary btn-sm" @click="showAddPersonModal">Add</button>
    <button type="button" class="btn btn-primary btn-sm" @click="showGraphModal">Graph</button>
    <p></p>

    <modal name="add-person-modal" :height="'auto'">
      <person-form v-on:person-cancel="hideAddPersonModal" v-on:person-saved="hideAddPersonModal"></person-form>
    </modal>

    <modal name="graph-modal" :height="'auto'">
      <age-graph v-on:cancel="hideGraphModal"></age-graph>
    </modal>

    <table class="table table-bordered table-striped table-hover table-sortable">
      <thead class="thead-light">
      <tr>
        <th :class="{asc:sort.by === 'name' && sort.asc, desc:sort.by === 'name' && !sort.asc}" @click="doSort('name')" > {{ columns.name.title }} <small>({{ columns.job.title }})</small></th>
        <th :class="{asc:sort.by === 'age' && sort.asc, desc:sort.by === 'age' && !sort.asc}" @click="doSort('age')" > {{ columns.age.title }}</th>
        <th :class="{asc:sort.by === 'nick' && sort.asc, desc:sort.by === 'nick' && !sort.asc}" @click="doSort('nick')" > {{ columns.nick.title }}</th>
        <th :class="{asc:sort.by === 'employee' && sort.asc, desc:sort.by === 'employee' && !sort.asc}" @click="doSort('employee')" > {{ columns.employee.title }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(person, i) in people" :key="'person-'+i">
        <td> {{ person.name }} <br> <small>{{ person.job }}</small> </td>
        <td> {{ person.age }} </td>
        <td> {{ person.nick }} </td>
        <td class="text-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" :checked="person.employee" disabled>
          </div>
        </td>
        <td> <a href="#" @click.prevent="doRemove(i)">Delete</a> </td>
      </tr>
      </tbody>
    </table>

    <div class="form-group">
      <label for="data-dump">Data Dump</label>
      <textarea class="form-control" id="data-dump" rows="10" :value="peopleJSON" disabled></textarea>
    </div>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { ACTIONS, columns } from '../store/modules/people.js'
import PersonForm from './PersonForm'
import AgeGraph from './AgeGraph'

export default {
  data: () => {
    return {
      columns: columns
    }
  },
  methods: {
    showAddPersonModal () {
      this.$modal.show('add-person-modal')
    },
    hideAddPersonModal () {
      this.$modal.hide('add-person-modal')
    },
    showGraphModal () {
      this.$modal.show('graph-modal')
    },
    hideGraphModal () {
      this.$modal.hide('graph-modal')
    },
    doSort (by) {
      this.dispatchSortPerson(by)
    },
    doRemove (target) {
      this.dispatchRemovePerson(target)
    },
    ...mapActions('people', {
      dispatchSortPerson: ACTIONS.SORT,
      dispatchRemovePerson: ACTIONS.REMOVE
    })
  },
  computed: {
    ...mapState('people', {
      people: state => state.all,
      sort: state => state.sort,
      peopleJSON: state => JSON.stringify(state.all, null, 2)
    })
  },
  components: {
    PersonForm,
    AgeGraph
  }
}
</script>
