<template>
  <form class="person-form" @submit.prevent="onSave">
    <div class="form-group row" v-for="(column, key) in columns" v-bind:key="key">
      <label :for="inputIdPrefix + key" class="col-sm-2 col-form-label">{{ column.title }}</label>
      <div class="col-sm-10">
        <input v-if="column.type === typeof String()" type="text" class="form-control" :id="inputIdPrefix + key" v-model="person[key]">
        <input v-else-if="column.type === typeof Number()" type="number" class="form-control" :id="inputIdPrefix + key" v-model.number="person[key]">
        <input v-else-if="column.type === typeof Boolean()" type="checkbox" :id="inputIdPrefix + key" v-model="person[key]">
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-small" href="#" role="button">Save</button>
      <button class="btn btn-small" href="#" role="button" @click.prevent="onCancelClick">Cancel</button>
    </div>
  </form>
</template>

<script>
import { ACTIONS, columns, dummyPerson } from '../store/modules/people'
import { mapActions } from 'vuex'
export default {
  props: {
    inputIdPrefix: {
      type: String,
      default: 'person-form-input-'
    }
  },
  data () {
    return {
      columns: columns,
      person: JSON.parse(JSON.stringify(dummyPerson))
    }
  },
  methods: {
    ...mapActions('people', {
      dispatchAddPerson: ACTIONS.ADD
    }),
    onSave () {
      const person = this.person
      this.dispatchAddPerson(person)
      this.$emit('person-saved')
    },
    onCancelClick () {
      this.person = dummyPerson
      this.$emit('person-cancel')
    }
  }
}
</script>

<style scoped>
.person-form {
  margin: 20px
}
</style>
