@import 'bootstrap/dist/css/bootstrap.css';

$sort-color-l: #ccc;
$sort-color-m: #888;
$sort-color-h: #333;

.table-sortable > thead > tr {
  > th {
    cursor: pointer;
    position: relative;
  }
  > th:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    top: 16px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $sort-color-l;
    border-bottom: 0 solid transparent;
  }
  > th:hover:after {
    border-top: 5px solid $sort-color-m;
  }
  > th.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 5px solid $sort-color-h;
  }
  > th.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $sort-color-h;
    border-bottom: 5px solid transparent;
  }
}
