<template>
  <default-layout>
    <router-view/>
  </default-layout>
</template>

<script>
import DefaultLayout from './components/layouts/Default'
import './assets/main.scss'
export default {
  name: 'App',
  components: {
    DefaultLayout
  }
}
</script>
